<html>
    <svg width="100%" height="300" version="1.1"
    xmlns="http://www.w3.org/2000/svg">
       <rect width="100%" height="100%" fill="Silver" />
       <circle cx="100%" cy="65%" r="150" fill="tan" stroke="black" fill-opacity="0.6" />
       <polygon points="300,300 440,100 600,300" fill="#A1DD70" />
       <text x="50" y="100" font-family="Verdana" font-size="55" fill="yellow" stroke="black" stroke-width="1"
           transform>
           Hello guys!! Welcome to Assignmnet 5
       </text>
       <g>
           <path fill-opacity="0.1" stroke="lightgray" d="
               M 440, 100
               m -50, 0
               a 50,50 0 1,0 100,0
               a 50,50 0 1,0 -100,0
           " />
           ` <circle r="5" fill="blue">
               <animateMotion dur="10s" repeatCount="indefinite" path=" M 440, 100
                   m -50, 0
                   a 50,50 0 1,0 100,0
                   a 50,50 0 1,0 -100,0" />
           </circle>
       </g>
</svg>
<nav class="menue">
    <ul>
        <li><a href = "index.html">"Home Page"</a></li>
        <li><a href = "views/two.html">"Page Two"</a></li>
        <li><a href = "views/three.html">"Page Three"</a></li>
    </ul>  
</nav>

<h1>Favorite Coding Resources</h1>
<table>
    <caption>
        Favorite Coding Resources
    </caption>
    <thead>
       <tr>
        <th scope="col">Coding Resources</th>
        <th scope="col">Link</th>
       </tr> 
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mozilla Developer Network</th>
            <td><a href = " https://developer.mozilla.org/en-US/docs/Web">Mozilla Developer</a></td>
        </tr>
        <tr>
            <th scope = "row ">DigitalOcean Tutorials</th>
            <td><a href = "https://www.digitalocean.com/community/tutorials">DigitalOcean Tutorials</a></td>
        </tr>
        <tr>
            <th scope = "row ">Stack Overflow</th>
            <td><a href = "https://stackoverflow.com/">Stack Overflow</a></td>
        </tr>
        <tr>
            <th scope = "row">Reddit Programming</th>
            <td><a href= "https://www.reddit.com/r/programming/?rdt=33354">Reddit Programming</a></td>
    
        </tr>
    </tbody>
</table>

<link rel="icon" href="http://127.0.0.1:5500/Resources/favion.svg" type="image/svg+xml">

